<div class="p-4">
  <form (ngSubmit)="onSubmit()" autocomplete="off" #form="ngForm">
    <div>

      <div class="form-group">
        <label for="transaction_type">Type</label>
        <select id="transaction_type" [(ngModel)]="transaction.type" name="tpye" class="form-control" required>
          <option value="EXPENSE">expense</option>
          <option value="INCOME">income</option>
          <option value="TRANSFER">transfer</option>
        </select>

      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input id="price" name="price" type="number" class="form-control" [(ngModel)]="transaction.price" required>
      </div>

      <div class="form-group">
        <label for="date">Date</label>
          <div class="input-group">
            <input
              id="date"
              type="datetime-local"
              name="date"
              class="form-control"
              [ngModel]="transaction.createdAt | date:'yyyy-MM-ddTHH:mm' "
              (ngModelChange)="transaction.createdAt = dateChanged($event)"
              required>
          </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input id="description" type="text" name="description" class="form-control"
               [(ngModel)]="transaction.description">
      </div>

      <div class="btn-toolbar justify-content-end" role="group">
        <button class="btn btn-primary btn-success" type="submit" [disabled]="!form.valid">Save</button>
        <button class="btn btn-primary btn-danger ml-2" type="button" (click)="onCancel()">Cancel</button>
      </div>

    </div>
  </form>
</div>
