<div class="min-width-300 container">

  <div class="d-flex justify-content-end pb-2">
    <button class="btn btn-primary btn-success" (click)="onNewAccount()">New account</button>
  </div>

  <app-account-row *ngFor="let account of accounts" [account]="account"></app-account-row>
</div>
