<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light mb-2" style="background-color: gainsboro">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="">Dashboard</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="accounts">Accounts</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <ngb-alert #a *ngIf="error" (closed)="clearError()" class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
      <strong>An error occurred!</strong>
      <p>{{error}}</p>
    </ngb-alert>
  </div>

  <router-outlet></router-outlet>
</div>

