<div *ngIf="account | async as acc" class="container">
  <div class="card">
    <div class="card-header">
      <h2>{{acc.name}} </h2>
      <h3
        [class.text-danger]="balance < 0"
        [class.text-success]="balance >= 0">
        {{balance | number}} HUF
      </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="text-secondary">Description:</div>
          <h6> {{acc.description}} </h6>
        </div>
        <div class="col">
          <div class="btn-toolbar justify-content-end" role="group">
            <button class="btn btn-primary btn-success" (click)="editAccount(acc.id)">Edit</button>
            <button class="btn btn-primary btn-danger ml-2" (click)="deleteAccount(acc.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <app-transaction-list (transactionChange)="initBalance()"></app-transaction-list>
  </div>
</div>
