<div *ngIf="account">
  <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
    <div class="container-fluid">
      <div class="d-flex justify-content-center">
        <div class="col-md-4">
          <div class="form-group">
            <label for="account_name">Name</label>
            <input id="account_name" type="text" class="form-control" [ngModel]="account.name" name="name" required>
          </div>
          <div class="form-group">
            <label for="opening_balance">Opening balance</label>
            <input id="opening_balance" type="number" class="form-control" [ngModel]="account.openingBalance"
                   name="openingBalance">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" [ngModel]="account.description"
                      name="description"> </textarea>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="col-md-4">
          <div class="d-flex flex-row-reverse">
            <button class="btn btn-primary btn-success" type="submit" [disabled]="!form.valid">Save</button>
            <button class="btn btn-primary btn-danger mr-2" (click)="onCancel()" type="reset">Cancel</button>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
