<div class="list-group-item  list-group-item-action">
  <div class="row">
    <div class="col-sm-2">{{transaction.createdAt | date}} </div>
    <div class="col-6">{{transaction.description}} </div>
    <div class="col align-self-center">
      <div class="text-right"
           [class.text-danger]="typeEnum.EXPENSE === transaction.type"
           [class.text-success]="typeEnum.INCOME === transaction.type">
        {{transaction.price | number}} HUF
      </div>
    </div>
  </div>
</div>
