<a [routerLink]="[account.id]" href="#" class="list-group-item  list-group-item-action">
    <div class="row">
      <div>
        <img class="pl-2" src="../../../favicon.ico" alt="account_icon">
      </div>
      <div class="col-6 align-self-center">{{account.name}} </div>
      <div class="col align-self-center">
        <div [class.text-danger]="account.balance < 0" [class.text-success]="account.balance >= 0" class="text-right">
          {{account.balance | number}} HUF
        </div>
      </div>
    </div>
</a>
