/* You can add global styles to this file, and also import other style files */

input.ng-invalid.ng-touched {
  border: 1px solid red;
}


/* Hide arrows in number input field */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
