<div class="btn-toolbar justify-content-end pb-2">
  <button class="btn btn-primary btn-success" (click)="newTransaction()">+ Add</button>
</div>

<div *ngFor="let transaction of transactions | async " class="mt-2">
  <app-transaction-row [transaction]="transaction" (click)="editTransaction(transaction)"></app-transaction-row>
</div>
